.cartao {
    max-width: 320px;
    height:  540px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
}

.imagem img {
    max-width: 280px;
    border-radius: 10px;
    margin: 20px 20px 5px 20px;
}

p {
    font-size: 16px;
    color: hsl(215, 51%, 70%)
}

h1 {
    font-size: 20px;
    margin: 0 0 15px 0;
}

.texto {
    margin: 10px 20px 20px 20px;
}

.info {
    display: flex;
    align-items: center;
    margin: 5px 20px 20px 20px;
}

.info h2{
    font-size: 16px;
    margin: 0px 90px 0px 2px;
    color: cyan;
}

.info img {
    margin: 0px 5px 0px 0px;
}

.rodape {
    display: flex;
    align-items: center;
}

.rodape img {
    max-width: 30px;
    margin: 15px 15px 15px 20px;
    border: 1px solid white;
    border-radius: 20px;
}

.rodape p {
    font-size: 14px;
    margin-right: 5px;
}